.mainMidDiv {
  display:grid;
  grid-template-columns: minmax(200px, 2.03fr) minmax(200px, 2.03fr) minmax(200px, 1fr);
  grid-column-gap: 10px;
  margin: 2vh 0;
  height: 34%;
}

.midRowBox {
  padding: 20px;
  background-color: white;
}